/*reset*/
/*globla reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: black;
}

html {
  font-size: 62.5%;
  /*1 rem = 10px*/
}

body {
  background-color: #E5E5E5;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  /*makes img fit in their containers*/
  max-width: 100%;
  display: block;
}

/*colors*/
/*mixins*/
/*sectons*/
.aboutMe-section {
  width: 100%;
  max-width: 200rem;
  height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutMe-section .imgContainer {
  background-color: gray;
  width: 38%;
  min-width: 30rem;
  height: inherit;
}

.aboutMe-section .imgContainer img {
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.aboutMe-section .article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 85vh;
  margin: auto;
  border: 3.5px solid #9615DB;
}

.aboutMe-section .article-container .aboutMe-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 40%;
  margin: auto;
}

.aboutMe-section .article-container .aboutMe-article p {
  font-size: 1.6rem;
}

.aboutMe-section .article-container .article-nav {
  width: 70%;
  height: 20%;
  border-top: 2.5px solid #C18FFF;
}

.aboutMe-section .article-container .article-nav .article-nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 100%;
}

.aboutMe-section .article-container .article-nav .article-nav_list .article-nav_listItem a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=about-contact.css.map */