/*reset*/
/*globla reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  /*1 rem = 10px*/
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-color: #E5E5E5;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  /*makes img fit in their containers*/
  max-width: 100%;
  display: block;
}

/*colors*/
/*obs! do not change, primary use is for landing-page.*/
:focus {
  outline: 2.5px solid #9615DB;
}

a:focus {
  outline: none;
}

/*mixins*/
/*sectons*/
.aboutMe-section {
  width: 100%;
  max-width: 200rem;
  height: 90rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e7e7e7 url(../Image/AboutMe-Photo/BackgroundTextureLight.png);
  /*about me article container*/
}

.aboutMe-section .imgContainer {
  width: 38%;
  min-width: 30rem;
  max-height: inherit;
}

.aboutMe-section .imgContainer img {
  height: 90rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 5px 5px 20px rgba(41, 41, 41, 0.897);
          box-shadow: 5px 5px 20px rgba(41, 41, 41, 0.897);
}

.aboutMe-section .article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 85%;
  margin: auto;
  border: 4px solid #9615DB;
  /*header for artical*/
  /*changes the font in all of the articles*/
  /*size of all of the articles*/
  /*navigation section in the article-frame*/
}

.aboutMe-section .article-container .article-header {
  -webkit-transform: translateY(-1.8rem);
          transform: translateY(-1.8rem);
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #9615DB;
  text-align: center;
  /*hides article border*/
  width: 100%;
  max-width: 30rem;
  background: #e7e7e7 url(../Image/AboutMe-Photo/BackgroundTextureLight.png);
}

.aboutMe-section .article-container p {
  font-size: 1.6rem;
  font-weight: 500;
}

.aboutMe-section .article-container .aboutMe-article,
.aboutMe-section .article-container .work-article,
.aboutMe-section .article-container .education-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  height: 45%;
  margin: auto;
}

.aboutMe-section .article-container .article-nav {
  width: 70%;
  height: 20%;
  border-top: 3px solid #C18FFF;
}

.aboutMe-section .article-container .article-nav .article-nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  height: 100%;
}

.aboutMe-section .article-container .article-nav .article-nav_list .article-nav_listItem a {
  color: #B58200;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  padding: 0.4rem 0.1rem;
}

.aboutMe-section .article-container .article-nav .article-nav_list .article-nav_listItem a:hover {
  color: #9615DB;
}

.aboutMe-section .article-container .article-nav .article-nav_list .article-nav_listItem a:focus {
  outline: 0;
  color: #9615DB;
}

/* ------------------- media rules --------------------- */
/*small desktop/tablet size*/
@media only screen and (max-width: 1050px) {
  .aboutMe-section {
    width: 100%;
    max-width: 200rem;
    height: 90rem;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #e7e7e7 url(../Image/AboutMe-Photo/BackgroundTextureLight.png);
    /*about me article container*/
  }
  .aboutMe-section .imgContainer {
    display: none;
  }
  .aboutMe-section .article-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    /*header for artical*/
    /*navigation section in the article-frame*/
  }
  .aboutMe-section .article-container .article-header {
    font-size: 2.6rem;
    /*hides article border*/
    max-width: 25rem;
  }
  .aboutMe-section .article-container .article-nav .article-nav_list .article-nav_listItem a {
    font-size: 1.6rem;
    padding: 0.4rem 0.1rem;
  }
}

/*mobile/tablet screen-size*/
@media only screen and (max-width: 800px) {
  .aboutMe-section {
    width: 100%;
    max-width: 200rem;
    height: 80rem;
    margin: auto;
    /*about me article container*/
  }
  .aboutMe-section .article-container {
    /*header for artical*/
    /*changes the font in all of the articles*/
    /*navigation section in the article-frame*/
  }
  .aboutMe-section .article-container .article-header {
    -webkit-transform: translateY(-1.6rem);
            transform: translateY(-1.6rem);
    font-size: 2.4rem;
  }
  .aboutMe-section .article-container p {
    font-size: 1.4rem;
  }
  .aboutMe-section .article-container .article-nav .article-nav_list .article-nav_listItem a {
    font-size: 1.4rem;
  }
}

/*mobile screen-size*/
@media only screen and (max-width: 500px) {
  .aboutMe-section {
    width: 100%;
    max-width: 200rem;
    height: 68rem;
    margin: auto;
    /*about me article container*/
  }
  .aboutMe-section .article-container {
    height: 76%;
    /*header for artical*/
    /*changes the font in all of the articles*/
    /*navigation section in the article-frame*/
  }
  .aboutMe-section .article-container .article-header {
    -webkit-transform: translateY(-1.3rem);
            transform: translateY(-1.3rem);
    font-size: 2rem;
    /*hides article border*/
    max-width: 18rem;
  }
  .aboutMe-section .article-container p {
    font-size: 1.2rem;
  }
  .aboutMe-section .article-container .article-nav {
    width: 65%;
    height: 30%;
  }
  .aboutMe-section .article-container .article-nav .article-nav_list .article-nav_listItem a {
    font-size: 1.4rem;
    padding: 1rem 3rem;
  }
}

/*mobile screen-size*/
@media only screen and (max-width: 350px) {
  .aboutMe-section {
    /*about me article container*/
  }
  .aboutMe-section .article-container {
    /*header for artical*/
    /*changes the font in all of the articles*/
    /*navigation section in the article-frame*/
  }
  .aboutMe-section .article-container .article-header {
    /*hides article border*/
    max-width: 14.5rem;
  }
  .aboutMe-section .article-container p {
    font-size: 1rem;
  }
  .aboutMe-section .article-container .article-nav {
    width: 65%;
    height: 30%;
  }
  .aboutMe-section .article-container .article-nav .article-nav_list .article-nav_listItem a {
    font-size: 1.1rem;
    padding: 1rem 2rem;
  }
}

#contactSection {
  width: 100%;
  max-width: 200rem;
  height: 90rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black url(../Image/AboutMe-Photo/BackgroundTextureDark.png);
  /*container for socialmedia icones and description*/
  /*contact form styling*/
}

#contactSection .socialmediaContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  height: 60%;
  width: 40%;
}

#contactSection .socialmediaContainer ul {
  list-style: none;
}

#contactSection .socialmediaContainer .mediaLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 15rem;
}

#contactSection .socialmediaContainer .mediaLinks .mediaLinks-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6rem;
  height: 6rem;
}

#contactSection .socialmediaContainer .mediaLinks .mediaLinks-item .fab {
  font-size: 9rem;
  color: #C18FFF;
}

#contactSection .socialmediaContainer .mediaLinks .mediaLinks-item .fab:hover {
  color: #B58200;
}

#contactSection .socialmediaContainer .mediaDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 30rem;
}

#contactSection .socialmediaContainer .mediaDescription .descrition {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ffffff;
}

#contactSection .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  height: 90%;
  width: 35%;
  margin: auto;
  /*--- !importent!---*/
  /*textarea height styling*/
  /*--- !importent!---*/
  /*lable styling*/
  /*button styling*/
}

#contactSection .contactForm input,
#contactSection .contactForm #Message {
  width: 100%;
  max-width: 60rem;
  height: 5rem;
  font-size: 2rem;
  margin: 1rem 0;
  /*helps people see if the requierd */
}

#contactSection .contactForm input:required:invalid:focus,
#contactSection .contactForm #Message:required:invalid:focus {
  outline: 3px solid red;
}

#contactSection .contactForm input:required:valid:focus,
#contactSection .contactForm #Message:required:valid:focus {
  outline: 3px solid #9615DB;
}

#contactSection .contactForm #Message {
  height: 40rem;
}

#contactSection .contactForm label {
  font-size: 2rem;
  font-weight: bold;
  color: #B58200;
  margin: 0.5rem 0;
  /*make every lable with data-requierd attr have a * subil after it*/
}

#contactSection .contactForm label[data-requierd]::after {
  content: " *";
  color: #C18FFF;
}

#contactSection .contactForm button[type="submit"] {
  background: none;
  border: none;
  width: 100%;
  max-width: inherit;
  font-size: 2.5rem;
  font-weight: bold;
  color: #C18FFF;
  text-align: start;
  padding-top: 2rem;
}

#contactSection .contactForm button[type="submit"] .fas {
  position: absolute;
  margin-right: 1rem;
  color: #C18FFF;
  width: inherit;
  height: inherit;
}

#contactSection .contactForm button[type="submit"] .fas:hover {
  outline: none;
  color: #B58200;
}

#contactSection .contactForm button[type="submit"][type="submit"]:focus {
  outline: none;
  text-decoration: underline;
}

#contactSection .contactForm button[type="submit"] span {
  padding-left: 3rem;
}

/*small desktop/tablet size*/
@media only screen and (max-width: 1050px) {
  #contactSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5rem;
    /*container for socialmedia icones and description*/
    /*contact form styling*/
  }
  #contactSection .socialmediaContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    height: 60%;
    width: 40%;
  }
  #contactSection .socialmediaContainer .mediaLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    width: 100%;
    max-width: 40rem;
  }
  #contactSection .socialmediaContainer .mediaLinks .mediaLinks-item {
    width: 2rem;
    height: 2rem;
  }
  #contactSection .socialmediaContainer .mediaLinks .mediaLinks-item .fab {
    font-size: 7rem;
  }
  #contactSection .socialmediaContainer .mediaDescription {
    display: none;
  }
  #contactSection .contactForm {
    height: 90%;
    width: 50%;
    /*--- !importent!---*/
    /*textarea height styling*/
    /*--- !importent!---*/
    /*lable styling*/
    /*button styling*/
  }
  #contactSection .contactForm input,
  #contactSection .contactForm #Message {
    font-size: 2rem;
    margin: 1rem 0;
  }
  #contactSection .contactForm #Message {
    height: 30rem;
  }
  #contactSection .contactForm label {
    font-size: 2rem;
    margin: 0.5rem 0;
  }
  #contactSection .contactForm button[type="submit"] {
    font-size: 2.5rem;
  }
  #contactSection .contactForm button[type="submit"] .fas {
    margin-right: 1rem;
  }
}

/*mobile/tablet screen-size*/
@media only screen and (max-width: 900px) {
  #contactSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5rem;
    /*container for socialmedia icones and description*/
    /*contact form styling*/
  }
  #contactSection .socialmediaContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    height: 60%;
    width: 40%;
  }
  #contactSection .socialmediaContainer .mediaLinks .mediaLinks-item .fab {
    font-size: 6rem;
  }
  #contactSection .socialmediaContainer .mediaDescription {
    display: none;
  }
  #contactSection .contactForm {
    height: 90%;
    width: 70%;
    /*--- !importent!---*/
    /*textarea height styling*/
    /*--- !importent!---*/
  }
  #contactSection .contactForm input,
  #contactSection .contactForm #Message {
    font-size: 2rem;
    margin: 1rem 0;
  }
  #contactSection .contactForm #Message {
    height: 28rem;
  }
}

/*mobile screen-size*/
@media only screen and (max-width: 700px) {
  #contactSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5rem;
    /*container for socialmedia icones and description*/
    /*contact form styling*/
  }
  #contactSection .socialmediaContainer .mediaDescription {
    display: none;
  }
  #contactSection .contactForm {
    height: 90%;
    width: 70%;
    /*--- !importent!---*/
    /*textarea height styling*/
    /*--- !importent!---*/
  }
  #contactSection .contactForm input,
  #contactSection .contactForm #Message {
    font-size: 1.6rem;
    margin: 1rem 0;
  }
  #contactSection .contactForm #Message {
    height: 25rem;
  }
}

/*footer*/
footer {
  background: #530080;
  padding: 30px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  font-size: 1.6rem;
}

footer a {
  color: #ffffff;
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

footer a::before {
  width: 100%;
  height: 2px;
  background: #ffffff;
  position: absolute;
  content: "";
  left: 100%;
  bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer a:hover::before {
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer ul {
  margin-left: auto;
  list-style: none;
}

footer ul li {
  padding: 0px 12px;
  display: inline-block;
}

footer ul li:last-child {
  padding-right: 0px;
}
/*# sourceMappingURL=about-contact.css.map */