/*global*/
/*globla reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  /*1 rem = 10px*/
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-color: #E5E5E5;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  /*makes img fit in their containers*/
  max-width: 100%;
  display: block;
}

/*colors*/
/*obs! do not change, primary use is for landing-page.*/
:focus {
  outline: 2.5px solid #9615DB;
}

a:focus {
  outline: none;
}

/*mixins*/
/*sections*/
.white-outside-border {
  width: 100%;
  max-width: 200rem;
  height: 100%;
  margin: auto;
  background: #ffffff url(../Image/AboutMe-Photo/BackgroundTextureLight.png);
  padding: 1.5%;
  /*welcome text + hero article +  hero img*/
}

.white-outside-border .hero {
  width: 100%;
  max-width: 200rem;
  height: 55rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../Image/LandingPage-Photos/marmor.jpg);
  /*button container + nav section*/
}

.white-outside-border .hero .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2d3032ce;
  width: 100%;
  max-width: 75rem;
  height: 30rem;
  position: relative;
}

.white-outside-border .hero .textContainer .hero-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 63rem;
  height: 60%;
  border: 5px solid #9615DB;
}

.white-outside-border .hero .textContainer .hero-article .hero-subHeading {
  color: #C18FFF;
  letter-spacing: 0.8rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 11%;
}

.white-outside-border .hero .textContainer .hero-article h1 {
  color: #ffffff;
  font-size: 4.8rem;
  margin-top: 0.3rem;
}

.white-outside-border .hero .textContainer .hero-borderHeading {
  background-color: #4a4f50;
  /*importent: this removes broder*/
  padding: 0 1.5rem;
  color: #C18FFF;
  letter-spacing: 0.8rem;
  position: absolute;
  bottom: 5.2rem;
  right: 14%;
}

.white-outside-border .hero .header-btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  width: 100%;
  max-width: 63rem;
  height: 8rem;
  /*drop down meny landing page hero section*/
}

.white-outside-border .hero .header-btnContainer .hero-btn {
  background-color: #2d3032ce;
  width: 18rem;
  height: 5rem;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
}

.white-outside-border .hero .header-btnContainer .hero-btn:hover {
  cursor: pointer;
  background-color: #2D3032;
}

.white-outside-border .hero .header-btnContainer .hero-btn a {
  color: #C18FFF;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  padding: 1.8rem 2.4rem;
}

.white-outside-border .hero .header-btnContainer .hero-btn a:focus {
  outline: none;
  text-decoration: none;
}

.white-outside-border .hero .header-btnContainer .dropDownMeny {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: flex;
      -ms-flex-align: flex;
          align-items: flex;
  position: absolute;
  z-index: 5;
  left: 50%;
  -webkit-transform: translate(-9rem, 12rem);
          transform: translate(-9rem, 12rem);
  display: none;
  width: 18rem;
  height: 12rem;
  /*use this for animation/transition*/
  background: #ffffff;
  overflow: hidden;
  /*important for animation/transition*/
  -webkit-animation: DropDownMeny-Slider 1s ease-in-out;
          animation: DropDownMeny-Slider 1s ease-in-out;
}

.white-outside-border .hero .header-btnContainer .dropDownMeny .projects-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: inherit;
  height: 4rem;
  font-size: 1.4rem;
  color: #2D3032;
}

.white-outside-border .hero .header-btnContainer .dropDownMeny .projects-item a:hover {
  background: #2D3032;
  color: #ffffff;
  cursor: pointer;
}

/*tablet screen-size*/
@media only screen and (max-width: 1050px) {
  .white-outside-border .hero {
    width: 100%;
    max-width: 200rem;
    height: 45rem;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url(../Image/LandingPage-Photos/marmor.jpg);
  }
  .white-outside-border .hero .textContainer .hero-article .hero-subHeading {
    color: #C18FFF;
    letter-spacing: 0.8rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 11%;
  }
  .white-outside-border .hero .textContainer .hero-article h1 {
    font-size: 4rem;
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }
  .white-outside-border .hero .textContainer .hero-borderHeading {
    background-color: #4a4f50;
    /*importent: this removes broder*/
    padding: 0 1.5rem;
    color: #C18FFF;
    letter-spacing: 0.8rem;
    position: absolute;
    bottom: 5.2rem;
    right: 14%;
  }
  .white-outside-border .hero .header-btnContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 95%;
    max-width: 63rem;
    height: 8rem;
  }
}

/*screen-size*/
@media only screen and (max-width: 600px) {
  .white-outside-border .hero {
    width: 100%;
    max-width: 200rem;
    height: 42rem;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url(../Image/LandingPage-Photos/marmor.jpg);
  }
  .white-outside-border .hero .textContainer .hero-article {
    max-width: 42rem;
    height: 50%;
  }
  .white-outside-border .hero .textContainer .hero-article .hero-subHeading {
    margin-left: 0;
    margin: 0 auto;
  }
  .white-outside-border .hero .textContainer .hero-article h1 {
    font-size: 3.5rem;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  .white-outside-border .hero .textContainer .hero-borderHeading {
    letter-spacing: 0.3rem;
    font-size: 1.3rem;
    position: absolute;
    bottom: 6.8rem;
    right: auto;
  }
  .white-outside-border .hero .header-btnContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 95%;
    max-width: 63rem;
    height: 8rem;
  }
  .white-outside-border .hero .header-btnContainer .hero-btn {
    width: 15rem;
    height: 5rem;
  }
  .white-outside-border .hero .header-btnContainer .hero-btn a {
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
  }
  .white-outside-border .hero .header-btnContainer .dropDownMeny {
    -webkit-transform: translate(-7.5rem, 12rem);
            transform: translate(-7.5rem, 12rem);
    width: 15rem;
  }
}

/*mobile screen-size*/
@media only screen and (max-width: 487px) {
  .white-outside-border .hero {
    width: 100%;
    max-width: 200rem;
    height: 38rem;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url(../Image/LandingPage-Photos/marmor.jpg);
  }
  .white-outside-border .hero .textContainer {
    height: 25rem;
  }
  .white-outside-border .hero .textContainer .hero-article {
    max-width: 42rem;
    height: 50%;
  }
  .white-outside-border .hero .textContainer .hero-article .hero-subHeading {
    margin-left: 0;
    margin: 0 auto;
  }
  .white-outside-border .hero .textContainer .hero-article h1 {
    font-size: 2.8rem;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  .white-outside-border .hero .textContainer .hero-borderHeading {
    letter-spacing: 0.3rem;
    position: absolute;
    bottom: 5.5rem;
  }
  .white-outside-border .hero .header-btnContainer .hero-btn {
    width: 12rem;
    height: 5rem;
  }
  .white-outside-border .hero .header-btnContainer .hero-btn a {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
}

/*animations*/
@-webkit-keyframes DropDownMeny-Slider {
  from {
    height: 0rem;
    margin-bottom: 12rem;
  }
  to {
    height: 12rem;
    margin-bottom: 0rem;
  }
}
@keyframes DropDownMeny-Slider {
  from {
    height: 0rem;
    margin-bottom: 12rem;
  }
  to {
    height: 12rem;
    margin-bottom: 0rem;
  }
}

.gridContainer {
  width: 100%;
  max-width: 210rem;
  height: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  padding: 3rem 0;
  row-gap: 0.8%;
  -webkit-column-gap: 1%;
          column-gap: 1%;
}

.gridContainer .grid-item {
  position: relative;
  /*img classes for changing images to colors*/
  /*grid overlappng btns on item 3,5,7*/
}

.gridContainer .grid-item img {
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  -webkit-transition: all 1s ease-out 0.5s;
  transition: all 1s ease-out 0.5s;
}

.gridContainer .grid-item .FilterImage {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.gridContainer .grid-item .FilterImage:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.gridContainer .grid-item .grid-navButton {
  position: absolute;
  top: 0;
  background-color: #2d3032ad;
  width: 100%;
  height: 25%;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.gridContainer .grid-item .grid-navButton .navLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(2.8rem - 100%);
  color: #ffffff;
  width: 100%;
  max-width: inherit;
  height: 100%;
  max-height: inherit;
}

/*tablet screen-size*/
@media only screen and (max-width: 1050px) {
  .gridContainer {
    width: 100%;
    max-width: 210rem;
    height: 100%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    padding: 1.5rem 0;
    row-gap: 0.8%;
    -webkit-column-gap: 1%;
            column-gap: 1%;
    /*hide items when smaller screen size*/
  }
  .gridContainer .grid-one,
  .gridContainer .grid-six,
  .gridContainer .grid-nine {
    display: none;
  }
  .gridContainer .grid-two {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .gridContainer .grid-three {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .gridContainer .grid-three img {
    height: 100%;
    width: 100%;
  }
  .gridContainer .grid-four {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .gridContainer .grid-five {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    grid-column: 2/-1;
  }
  .gridContainer .grid-five img {
    height: 100%;
    width: 100%;
  }
  .gridContainer .grid-eight {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .gridContainer .grid-seven {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .gridContainer .grid-seven img {
    height: 100%;
    width: 100%;
  }
  .gridContainer .grid-item {
    position: relative;
  }
  .gridContainer .grid-item img {
    -o-object-fit: cover;
       object-fit: cover;
    margin: auto;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .gridContainer .grid-item .grid-navButton {
    height: 50%;
  }
}

/*mobile screen-size*/
@media only screen and (max-width: 500px) {
  .gridContainer {
    width: 100%;
    max-width: 210rem;
    height: 100%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    padding: 1rem 0;
    row-gap: 0.8%;
    -webkit-column-gap: 1%;
            column-gap: 1%;
    /*hide items when smaller screen size*/
    /*change grid tamplate*/
  }
  .gridContainer .grid-one,
  .gridContainer .grid-six,
  .gridContainer .grid-nine {
    display: none;
  }
  .gridContainer .grid-two {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .gridContainer .grid-three {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .gridContainer .grid-four {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .gridContainer .grid-five {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .gridContainer .grid-eight {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .gridContainer .grid-seven {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .gridContainer .grid-item {
    position: relative;
  }
  .gridContainer .grid-item img {
    -o-object-fit: cover;
       object-fit: cover;
    margin: auto;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .gridContainer .grid-item .grid-navButton {
    height: 100%;
  }
}

/*footer*/
footer {
  background: #530080;
  padding: 30px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  font-size: 1.6rem;
}

footer a {
  color: #ffffff;
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

footer a::before {
  width: 100%;
  height: 2px;
  background: #ffffff;
  position: absolute;
  content: "";
  left: 100%;
  bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer a:hover::before {
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer ul {
  margin-left: auto;
  list-style: none;
}

footer ul li {
  padding: 0px 12px;
  display: inline-block;
}

footer ul li:last-child {
  padding-right: 0px;
}
/*# sourceMappingURL=index.css.map */