
/*globla reset*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color:black;
}

html{
    font-size: 62.5%;
    /*1 rem = 10px*/
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: #E5E5E5;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
    /*makes img fit in their containers*/
    max-width: 100%;
    display: block;
}




/*colors*/
$Maincolor: #9615DB;
$Light-Maincolor: #C18FFF;

$dark-BackgroundColor:#2D3032;
$light-BackgroundColor:#ffffff;

/*obs! do not change, primary use is for landing-page.*/
$dark-BackgroundColor-dim:#2d3032ce;
$dark-BackgroundColor-dim-navBtn: #2d3032ad;

$dark-TextColor:#2D3032;
$light-TextColor:#ffffff;
$extra-TextColor:#B58200;

$footer-bg:#530080;


:focus {
    outline: 2.5px solid $Maincolor;
}

a:focus {
    outline: none;
}

/*mixins*/
@mixin SectionSize ($height){
    width: 100%;
    max-width: 200rem;
    height: $height;
    margin:auto;
}

@mixin flex ($flex-diraction, $justfiy-content, $align-items){
    display: flex;
    flex-direction: $flex-diraction;
    justify-content: $justfiy-content;
    align-items: $align-items;
    
}