.portfolio_area{
	background: url(../../Image/porfolioPhotos/Background.webp);
	background-size: cover;
	.portfolio_inner{
		 display: flex;
		 position: relative;
		 &::before{
		 	position: absolute;
		 	content: "";
		 	top: 60px;
		 	left: 60px;
		 	height: calc(100% - 120px);
		 	width: 65%;
		 	z-index: 2;
		 	border: 2px solid $Maincolor;
		 }
		 .portfolio_left{
		 	flex: 1;
		 	position: relative;
		 	background: $dark-BackgroundColor-dim;
		 	p{
		 		color: $light-BackgroundColor;
		 		span{
		 			color: $Light-Maincolor;
		 		}
		 	}
		 	.portfolio_content{
		 		@include flex( column, center, center );
			    padding: 50px 120px;
			    height: 100%;
			    width: 100%;
		 		z-index: 5;
		 		position: relative;
		 		.content_top{
		 			display: block;
		 			h3{
		 				font-size: 4rem;
		 				color: $light-BackgroundColor;
		 				text-transform: uppercase;
		 				margin-bottom: 20px;
		 			}
		 			
		 		}
		 		.content_bottom{
		 			padding-top: 20px;
		 			display: block;
		 		}
		 	}
		 }
		 .portfolio_right{
		 	flex: 1.3;
		 	width: 70%;
		 	position: relative;
		 	z-index: 5;
		 		.img_css{
		 			display: block;
		 			position: relative;
		 			overflow: hidden;
		 			margin: 120px auto;
    				height: 350px;
		 			width: 500px;
		 			&::before {
						position: absolute;
						top: 0;
						left: -75%;
						z-index: 2;
						display: block;
						content: '';
						width: 50%;
						height: 100%;
						background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
						background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
						-webkit-transform: skewX(-25deg);
						transform: skewX(-25deg);
					}
					&:hover::before {
						-webkit-animation: shine .75s;
						animation: shine .75s;
					}
					@-webkit-keyframes shine {
						100% {
							left: 125%;
						}
					}
					@keyframes shine {
						100% {
							left: 125%;
						}
					}
		 			img{
		 				-webkit-transform: rotate(10deg) scale(1.3);
						transform: rotate(10deg) scale(1.3);
						-webkit-transition: .3s ease-in-out;
						transition: .3s ease-in-out;
		 				width: 100%;
		 				height: 100%;
		 				object-fit: cover;
		 			}
		 			&:hover img{
						-webkit-transform: rotate(0) scale(1);
							transform: rotate(0) scale(1);
		 			}
		 		}
		 }
	}
}