/*global*/
@import '../sass/global';
@import '_info_one';
@import '_info_one';
@import '_info_one';
@import '_info_main_portfolio';
@import '../footer/footer';


html{
	font-family: 'Josefin Sans', sans-serif;
}

body{
	background: $light-BackgroundColor;
    overflow-x: hidden;
}

p{
    font-size: 1.4rem;
    line-height: 2rem;
    word-spacing: 1.2px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
a{
	font-size: 1.4rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.3px;
}