@media only screen and (min-height: 700px){
	.portfolio_area .portfolio_inner .portfolio_right .img_css{
		height: 450px;
		width: 600px;
	}
}

@media only screen and (min-height: 800px){
	.portfolio_area .portfolio_inner .portfolio_right .img_css{
		height: 500px;
		width: 650px;
		margin: 150px auto;
	}
}

@media only screen and (min-height: 900px){
	.portfolio_area .portfolio_inner .portfolio_right{
		flex: 1.5;
	}
	.portfolio_area .portfolio_inner .portfolio_right .img_css{
		height: 550px;
		width: 750px;
	}
}

@media only screen and (min-height: 980px){
	.portfolio_area .portfolio_inner .portfolio_right{
		flex: 1.8;
	}
	.portfolio_area .portfolio_inner .portfolio_right .img_css{
		height: 550px;
		margin: 170px auto;
		width: 800px;
	}
}

@media only screen and (min-height: 1020px){
	.portfolio_area .portfolio_inner .portfolio_right{
		flex: 1.8;
	}
	.portfolio_area .portfolio_inner .portfolio_right .img_css{
		height: 650px;
		margin: 170px auto;
		width: 900px;
	}
}
@media only screen and (min-width: 1501px){
	.portfolio_area .portfolio_inner .portfolio_left p{
		font-size: 16px;
    	line-height: 22px;
	}
}
@media only screen and (min-width: 1701px){
	.portfolio_area .portfolio_inner .portfolio_left p{
		font-size: 18px;
    	line-height: 25px;
	}
}

@media only screen and (max-width: 991px){
	.portfolio_area .portfolio_inner .portfolio_right{
		flex: 1.5;
	}
	.portfolio_area .portfolio_inner .portfolio_right .img_css{
		margin: 100px 30px;
	    height: auto;
	    width: auto;
	}
	.portfolio_area .portfolio_inner .portfolio_left .portfolio_content{
		padding: 50px 20px 50px 80px
	}
	.portfolio_area .portfolio_inner::before{
		left: 40px;
	}
}

@media only screen and (max-width: 767px){
	.portfolio_area .portfolio_inner{
		display: block;
	}
	.portfolio_area .portfolio_inner::before{
		top: 40px;
		height: 70%;
		width: calc(100% - 80px);
	}
	.portfolio_area .portfolio_inner .portfolio_left .portfolio_content{
		padding: 80px;
	}
	.portfolio_area .portfolio_inner .portfolio_right{
		width: 100%;
	}
	.portfolio_area .portfolio_inner .portfolio_right .img_css{
		margin: 80px;
	}
}

@media only screen and (max-width: 480px){
	.portfolio_area .portfolio_inner .portfolio_left .portfolio_content {
	    padding: 50px 30px;
	}
	.portfolio_area .portfolio_inner::before {
	    top: 20px;
	    height: 80%;
	    width: calc(100% - 30px);
	    left: 15px;
	}
	.portfolio_area .portfolio_inner .portfolio_right .img_css {
	    margin: 50px 30px;
	}
}