
.portfolio_area{
	background: url(../../Image/porfolioPhotos/Background.webp);
	background-size: cover;
	.portfolio_inner{
		 display: flex;
		 .portfolio_left{
		 	flex: 1;
		 	position: relative;
		 	.left_portfolio_bg{
		 		height: calc(75% - 25px);
		 		width: 100%;
		 		background: $dark-BackgroundColor-dim;
		 	}
		 	.portfolio_content{
		 		border: 4px solid $Maincolor;
			    padding: 25px;
			    position: absolute;
			    left: 50%;
			    bottom: 30px;
			    transform: translate(-50%, 0px);
			    width: calc(100% - 120px);
			    height: 85%;
		 		.content_top{
		 			padding-right: 50px;
		 			position: absolute;
		 			top: 50px; 
		 			h3{
		 				font-size: 4rem;
		 				color: $light-BackgroundColor;
		 				text-transform: uppercase;
		 				margin-bottom: 15px;
		 			}
		 			p{
		 				color: $light-BackgroundColor;
		 				letter-spacing: 1.2px;
		 				span{
		 					color: $Maincolor;
		 				}
		 			}
		 		}
		 		.content_bottom{
		 			text-align: right;
		 			padding: 0px 30px 20px 90px;
		 			position: absolute;
		 			bottom: 0;
		 			p{
		 				font-size: 19px;
		 				line-height: 18px;
						font-style: italic;
		 			}
		 		}
		 	}
		 }
		 .portfolio_right{
		 	flex: 1.3;
		 	padding: 30px 60px 30px 0px;
		 	.portfolio_right_area{
		 		@include flex(row, flex-end, center);
		 		.single_img{
		 			margin-right: 12px;

		 		}
		 		.double_img{
		 			@include flex(column, center, center);
		 			.double_img_area{
		 				margin: 6px 0px;
		 			}
		 		}
		 		.img_css{
		 			width: 300px;
		 			height: 300px;
		 			position: relative;
		 			overflow: hidden;
		 			.hover_text{
		 				position: absolute;
		 				top: 50%;
		 				left: 50%;
		 				transform: translate(-50%, -50%);
		 				opacity: 0;
		 				transition: .3s ease-in-out;
		 				z-index: 5;
		 				p{
		 					font-size: 16px;
		 					color: #ffffff;
		 				}
		 			}
		 			&::after{
		 				position: absolute;
		 				content: "";
		 				width: 100%;
		 				height: 100%;
		 				left: 0;
		 				top: -50%;
		 				background: rgba(0, 0, 0, 0);
		 				z-index: 0;
		 				transition: .3s ease-in-out;
		 			}
		 			&:hover::after{
		 				background: rgba(0, 0, 0, 0.3);
		 				transition: .5s ease-in-out;
		 				transition-delay: 0.2s;
		 				top: 0%;
		 			}
		 			&::before {
						position: absolute;
						top: 0;
						left: -75%;
						z-index: 2;
						display: block;
						content: '';
						width: 50%;
						height: 100%;
						background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
						background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
						-webkit-transform: skewX(-25deg);
						transform: skewX(-25deg);
					}
					&:hover::before {
						-webkit-animation: shine .75s;
						animation: shine .75s;
					}
					@-webkit-keyframes shine {
						100% {
							left: 125%;
						}
					}
					@keyframes shine {
						100% {
							left: 125%;
						}
					}
		 			img{
		 				-webkit-transform: rotate(10deg) scale(1.3);
						transform: rotate(10deg) scale(1.3);
						-webkit-transition: .3s ease-in-out;
						transition: .3s ease-in-out;
		 				width: 100%;
		 				height: 100%;
		 				object-fit: cover;
		 			}
		 			&:hover img{
						-webkit-transform: rotate(0) scale(1);
							transform: rotate(0) scale(1);
		 			}
		 			&:hover .hover_text{
		 				opacity: 1;
		 				transition: .3s ease-in-out;
		 				transition-delay: 0.2s;
		 			}
		 		}
		 	}
		 }
	}
}