.white-outside-border{
    @include SectionSize(100%);
    background: $light-BackgroundColor url(../Image/AboutMe-Photo/BackgroundTextureLight.png);
    padding:1.5%;

    .hero{
        @include SectionSize(55rem);
        @include flex(column, flex-start, center);
        background: url(../Image/LandingPage-Photos/marmor.jpg);
       

        .textContainer{
            @include flex(column, center, center);
            background-color: $dark-BackgroundColor-dim;
            width: 100%;
            max-width: 75rem;
            height: 30rem;
            position: relative;

            .hero-article{
                @include flex(column, center, center);
                width: 100%;
                max-width: 63rem;
                height: 60%;

                border: 5px solid $Maincolor;

                .hero-subHeading{
                    color: $Light-Maincolor;
                    letter-spacing: 0.8rem;
                    align-self: flex-start;
                    margin-left: 11%;
                }

                h1{
                    color: $light-TextColor;
                    font-size: 4.8rem;
                    margin-top: 0.3rem;
                }
            }

            .hero-borderHeading{
                background-color: #4a4f50; /*importent: this removes broder*/
                padding: 0 1.5rem;

                color: $Light-Maincolor;
                letter-spacing: 0.8rem;

                position: absolute;
                bottom: 5.2rem;
                right: 14%;
            }
        }

        .header-btnContainer{
            @include flex(row, space-between, flex-end);
            width: 100%;
            max-width: 63rem;
            height: 8rem;

            .hero-btn{
                background-color: $dark-BackgroundColor-dim;
                width: 18rem;
                height: 5rem;

                border:none;
                border-radius: 0;

                text-transform: uppercase;

                &:hover{
                    cursor: pointer;
                    background-color: $dark-BackgroundColor;
                }


                a{
                    color: $Light-Maincolor;
                    font-size: 1.6rem;
                    letter-spacing: 0.5rem;

                   padding: 1rem 0;

                   
                    &:focus{
                    outline: none;
                    text-decoration: none;
                     }
                }

            }
        }
    }

}

/*tablet screen-size*/
@media only screen and (max-width: 1050px){

    .white-outside-border{
        .hero{
            @include SectionSize(45rem);
            @include flex(column, flex-start, center);
            background: url(../Image/LandingPage-Photos/marmor.jpg);
           
    
            .textContainer{
                .hero-article{
                    .hero-subHeading{
                        color: $Light-Maincolor;
                        letter-spacing: 0.8rem;
                        align-self: flex-start;
                        margin-left: 11%;
                    }
    
                    h1{
                        font-size: 4rem;
                        transform: translateX(-3rem);
                    }
                }
    
                .hero-borderHeading{
                    background-color: #4a4f50; /*importent: this removes broder*/
                    padding: 0 1.5rem;
    
                    color: $Light-Maincolor;
                    letter-spacing: 0.8rem;
    
                    position: absolute;
                    bottom: 5.2rem;
                    right: 14%;
                }
            }
    
            .header-btnContainer{
                @include flex(row, space-between, flex-end);
                width: 95%;
                max-width: 63rem;
                height: 8rem;
    
            }
        }
    
    }

}


/*screen-size*/
@media only screen and (max-width: 600px){
    
    .white-outside-border{
        .hero{
            @include SectionSize(42rem);
            @include flex(column, flex-start, center);
            background: url(../Image/LandingPage-Photos/marmor.jpg);
           
    
            .textContainer{
                .hero-article{
                    max-width: 42rem;
                    height: 50%;
                    .hero-subHeading{
                        margin-left: 0;
                        margin: 0 auto ;
                    }
    
                    h1{
                        font-size: 3.5rem;
                        transform: translateX(0rem);

                    }
                }
    
                .hero-borderHeading{
                    letter-spacing: 0.3rem;

                    font-size: 1.3rem;
    
                    position: absolute;
                    bottom: 6.8rem;
                    right: auto;
                }
            }
    
            .header-btnContainer{
                @include flex(row, space-between, flex-end);
                width: 95%;
                max-width: 63rem;
                height: 8rem;
    
                .hero-btn{
                    width: 15rem;
                    height: 5rem;
    
                    a{
                    font-size: 1.4rem;
                    letter-spacing: 0.2rem;
                    }
                }
    
            }
        }
    
    }

}
/*mobile screen-size*/
@media only screen and (max-width: 487px){

    .white-outside-border{
        .hero{
            @include SectionSize(38rem);
            @include flex(column, flex-start, center);
            background: url(../Image/LandingPage-Photos/marmor.jpg);
           
    
            .textContainer{
                height: 25rem;
                .hero-article{
                    
                    max-width: 42rem;
                    height: 50%;
                    .hero-subHeading{
                        margin-left: 0;
                        margin: 0 auto ;
                    }
    
                    h1{
                        font-size: 2.8rem;
                        transform: translateX(0rem);

                    }
                }
    
                .hero-borderHeading{
                    letter-spacing: 0.3rem;
    
                    position: absolute;
                    bottom: 5.5rem;
                }
            }
    
            .header-btnContainer{
                .hero-btn{
                    width: 12rem;
                    height: 5rem;
                    
                    a{
                    font-size: 1.2rem;
                    letter-spacing: 0.1rem;
                    }
                }
    
            }
        }
    
    }

}