.aboutMe-section{
    @include SectionSize(90rem);
    @include flex(row, space-between, center);
    background: rgb(231, 231, 231) url(../Image/AboutMe-Photo/BackgroundTextureLight.png);
    .imgContainer{
        width: 38%;
        min-width: 30rem;
        max-height: inherit;

        img{
            height: 90rem;
            object-fit: cover;
            box-shadow: 5px 5px 20px rgba(41, 41, 41, 0.897);
        }
    }

    /*about me article container*/
    .article-container{
        @include flex(column, center, center);
        width: 50%;
        height: 85% ;
        margin: auto;

        border: 4px solid $Maincolor;
        
        

        /*header for artical*/
        .article-header{
            transform: translateY(-1.8rem);
            font-size: 2.8rem;

            text-transform: uppercase;
            letter-spacing: 0.2rem;
            color: $Maincolor;

            text-align: center;

            /*hides article border*/
            width: 100%;
            max-width: 30rem;
            background:rgb(231, 231, 231) url(../Image/AboutMe-Photo/BackgroundTextureLight.png);
        }

        /*changes the font in all of the articles*/
        p{
            font-size: 1.6rem;
            font-weight: 500;
        }

        /*size of all of the articles*/
        .aboutMe-article,
        .work-article,
        .education-article{
            @include flex(column, space-between, center);
            width: 65%;
            height: 45%;
            margin: auto;
        }

        /*navigation section in the article-frame*/
        .article-nav{
            width: 70%;
            height: 20%;

            border-top: 3px solid $Light-Maincolor;

            .article-nav_list{
                @include flex(row, space-around, center);
                flex-wrap: wrap;
                list-style: none;
                height: 100%;

                .article-nav_listItem a{
                    color:#B58200;
                    font-size: 1.6rem;
                    letter-spacing: 0.2rem;
                    font-weight: bold;

                    padding: 0.4rem 0.1rem;

                        &:hover{
                            color: $Maincolor;
                        }

                        &:focus{
                            outline: 0;
                            color: $Maincolor;
                        }
                }
            }
        }
    }
}


/* ------------------- media rules --------------------- */

/*small desktop/tablet size*/
@media only screen and (max-width: 1050px){

    .aboutMe-section{
        @include SectionSize(90rem);
        @include flex(column-reverse, space-between, center);
        background: rgb(231, 231, 231) url(../Image/AboutMe-Photo/BackgroundTextureLight.png);
        
        .imgContainer{
        display: none;
        }
    
        /*about me article container*/
        .article-container{
            @include flex(column, center, center);
            width: 80%;        
    
            /*header for artical*/
            .article-header{
                font-size: 2.6rem;

                /*hides article border*/
                max-width: 25rem;
            }
    
    
            /*navigation section in the article-frame*/
            .article-nav{
                .article-nav_list{
                    .article-nav_listItem a{
                        font-size: 1.6rem;

                        padding: 0.4rem 0.1rem;
                    }
                }
            }
        }
    }
}

/*mobile/tablet screen-size*/
@media only screen and (max-width: 800px){

    .aboutMe-section{
        @include SectionSize(60rem);
        /*about me article container*/
        .article-container{ 
    
            /*header for artical*/
            .article-header{
                transform: translateY(-1.6rem);
                font-size: 2.4rem;
            }
    
            /*changes the font in all of the articles*/
            p{
                font-size: 1.4rem;        
            }
    
            /*navigation section in the article-frame*/
            .article-nav{
                .article-nav_list{
                    .article-nav_listItem a{
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }

}

/*mobile screen-size*/
@media only screen and (max-width: 500px){

    .aboutMe-section{
        @include SectionSize(60rem);
        /*about me article container*/
        .article-container{ 
            height: 76%;

            /*header for artical*/
            .article-header{
                transform: translateY(-1.3rem);
                font-size: 2rem;

                /*hides article border*/
                max-width: 18rem;
            }
    
            /*changes the font in all of the articles*/
            p{
                font-size: 1.2rem;        
            }

            /*navigation section in the article-frame*/
            .article-nav{
                width: 65%;
                height: 30%;
                .article-nav_list{
                    .article-nav_listItem a{
                        font-size: 1.4rem;

                        padding: 1rem 3rem;
                    }
                }
            }
        }
    }
}


/*mobile screen-size*/
@media only screen and (max-width: 350px){

    .aboutMe-section{
        /*about me article container*/
        .article-container{ 

            /*header for artical*/
            .article-header{
                /*hides article border*/
                max-width: 14.5rem;
            }
    
            /*changes the font in all of the articles*/
            p{
                font-size: 1rem;        
            }

            /*navigation section in the article-frame*/
            .article-nav{
                width: 65%;
                height: 30%;
                .article-nav_list{
                    .article-nav_listItem a{
                        font-size: 1.1rem;

                        padding: 1rem 2rem;
                    }
                }
            }
        }
    }
}
