#contactSection{
    @include SectionSize(90rem);
    @include flex(row, space-around, center);
    
    background: rgb(0, 0, 0) url(../Image/AboutMe-Photo/BackgroundTextureDark.png);
    /*container for socialmedia icones and description*/
    .socialmediaContainer{
        @include flex(row, center, space-around);
        height: 60%;
        width: 40%;
        
        ul{
            list-style: none;
        }

        .mediaLinks{
        @include flex(column, space-around, center);

        width: 100%;
        max-width: 15rem;

            .mediaLinks-item{
                @include flex(row, center, center);
                width: 6rem;
                height: 6rem;

                .fab{
                    font-size: 9rem;
                    color: $Maincolor;

                    &:hover{
                        color: $extra-TextColor;
                    }
                }
            }
        }

        .mediaDescription{
            @include flex(column, space-around, center);
            width: 100%;
            max-width: 30rem;

            .descrition{
                font-size: 1.4rem;
                text-transform: uppercase;
                color: $light-TextColor;
            }
        }

    }

    /*contact form styling*/
    .contactForm{
        @include flex(column, center, space-around);
        height: 90%;
        width: 35%;
        margin: auto;

        input, 
        #Message{
            width:100%;
            max-width: 60rem;
            height: 5rem;

            font-size: 2rem;
            margin: 1rem 0;

            /*helps people see if the requierd */
            &:required{

                &:invalid:focus{
                outline: 3px solid red;
                }

                &:valid:focus{
                    outline: 3px solid $Maincolor;

                }
            }
        }

        /*--- !importent!---*/
            /*textarea height styling*/
            #Message{
                height: 40rem;
            }
        /*--- !importent!---*/


        /*lable styling*/
        label{
            font-size: 2rem;
            font-weight: bold;
            color: $extra-TextColor;
            margin: 0.5rem 0;

            /*make every lable with data-requierd attr have a * subil after it*/
            &[data-requierd]::after{
                content: " *";
                color: $Light-Maincolor;
            
            } 
        }
        
        /*button styling*/
        button[type="submit"]{
            background: none;
            border: none;
            width: 100%;
            max-width: inherit;

            font-size: 2.5rem;
            font-weight: bold;
            color: $Maincolor;

            text-align: end;

            margin-top: 2rem;

                .fas{
                    margin-right: 1rem;
                    color: $Maincolor;
                }

                &[type="submit"]:focus{
                    outline: none;
                    text-decoration: underline;
                }

                &[type="submit"]:hover{
                    outline: none;
                    color:$extra-TextColor;
                }


        }
    }  
}

/*small desktop/tablet size*/
@media only screen and (max-width: 1050px){

    #contactSection{
        @include flex(column-reverse, space-around, center);
        padding-top: 5rem;
        /*container for socialmedia icones and description*/
        .socialmediaContainer{
            @include flex(row, center, space-around);
            height: 60%;
            width: 40%;
    
            .mediaLinks{
            @include flex(row, space-around, space-around);
            width: 100%;
            max-width: 40rem;
    
                .mediaLinks-item{
                    width: 2rem;
                    height: 2rem;
    
                    .fab{
                        font-size: 7rem;
                    }
                }
            }
    
            .mediaDescription{
                display: none;
            }
        }
    
        /*contact form styling*/
        .contactForm{
            height: 90%;
            width: 50%;
    
            input, 
            #Message{
                font-size: 2rem;
                margin: 1rem 0;
            }
    
            /*--- !importent!---*/
                /*textarea height styling*/
                #Message{
                    height: 30rem;
                }
            /*--- !importent!---*/
    
    
            /*lable styling*/
            label{
                font-size: 2rem;
                margin: 0.5rem 0;
    
            }
            
            /*button styling*/
            button[type="submit"]{
                font-size: 2.5rem;
    
                    .fas{
                        margin-right: 1rem;
                    }
            }
        }  
    }

}


/*mobile/tablet screen-size*/
@media only screen and (max-width: 900px){

    #contactSection{
        @include flex(column-reverse, space-around, center);
        padding-top: 5rem;
        /*container for socialmedia icones and description*/
        .socialmediaContainer{
            @include flex(row, center, space-around);
            height: 60%;
            width: 40%;
    
            .mediaLinks{
               .mediaLinks-item{
                    .fab{
                        font-size: 6rem;
                    }
                }
            }
    
            .mediaDescription{
                display: none;
            }
        }
    
        /*contact form styling*/
        .contactForm{
            height: 90%;
            width: 70%;
    
            input, 
            #Message{
                font-size: 2rem;
                margin: 1rem 0;
            }
    
            /*--- !importent!---*/
                /*textarea height styling*/
                #Message{
                    height: 28rem;
                }
            /*--- !importent!---*/
        }  
    }


}
/*mobile screen-size*/
@media only screen and (max-width: 700px){

    #contactSection{
        @include flex(column-reverse, space-around, center);
        padding-top: 5rem;
        /*container for socialmedia icones and description*/
        .socialmediaContainer{
            .mediaDescription{
                display: none;
            }
        }
    
        /*contact form styling*/
        .contactForm{
            height: 90%;
            width: 70%;
    
            input, 
            #Message{
                font-size: 1.6rem;
                margin: 1rem 0;
            }
    
            /*--- !importent!---*/
                /*textarea height styling*/
                #Message{
                    height: 25rem;
                }
            /*--- !importent!---*/
        }  
    }

}